@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
@import "vars";

// reset html, body to fill viewport (from twitter)
:where(:root) {
  display: grid;
  height: 100%;
}

body {
  font-family: 'Inria Sans', sans-serif;
}

.base-wrapper {
  display: grid;
  grid-template-columns: minmax(max-content, 166px) 1fr minmax(0, 60px);
  grid-template-areas: 
    "nav main ."
    "footer footer footer";

  .site-nav {
    grid-area: nav;
  }
  .site-main {
    grid-area: main;
    padding-block: 36px 108px;
    padding-inline-start: 30px;
  }
  .site-footer {
    grid-area: footer
  }
}