@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
@import "vars";

// reset html, body to fill viewport (from twitter)
:where(:root) {
  display: grid;
  height: 100%;
}

body {
  font-family: 'Inria Sans', sans-serif;
}

.base-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 12px) 1fr minmax(0, 12px);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 166px 1fr minmax(0, 60px);
    grid-template-areas: 
      "nav main ."
      "footer footer footer";
    
    .site-nav {
      grid-area: nav;
    }
    .site-main {
      grid-area: main;
      padding-inline-start: 30px;
    }
    .site-footer {
      grid-area: footer
    }
  }

  .mobile-nav, .site-footer {
    grid-column: 1 / 4
  }
  .site-main {
    grid-column: 2 / 3;
    padding-block: 36px 108px;
  }
}