@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
@import "vars";
@import "partials/pricing";

body {
  // font-family: $font-family-base;
  // font-size: $font-size-base;
  // line-height: $line-height-base;
  display: grid;
  grid-template-columns: minmax(max-content, 166px) 1fr;
  column-gap: 30px;
  font-family: 'Inria Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 30px;
}

header {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .btn {
    margin-top: auto;
  }
}

.site-nav {
  min-height: 100vh;
  color: $white;
  background-color: $purple;
  font-size: 1rem;
  padding: 40px 24px;

  .logo {
    display: inline-block;
    margin-block-end: 56px;
  }

  .main-nav {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 28px;
    margin-block-end: 60px;
    a {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.site-footer {
  grid-column: 1/3;
  background: linear-gradient(180deg, #443E48 0%, #110617 100%);
  color: $gray;
  display: grid;
  grid-template-columns: 166px max-content minmax(0, 228px) 1fr 60px;
  padding-block: 48px 32px;

  .btn, .copyright {
    grid-column: 2;
  }

  .copyright {
    align-self: end;
  }

  .main-links {
    grid-column: 4;

    h5 {
      border-bottom: 1px solid $gray;
    }
  }
  
  .legal-links {
    grid-column: 1 / span all;

    ul {
      gap: 8px;
    }
    li:not(:last-child):after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: $gray;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

}