<footer class="site-footer">
  <section class="cta">
    <button type="button" class="btn btn-outline-light">Free Trial</button>
    <p class="copyright">© Datadog 2017</p>
  </section>
  <section class="main-links">
    <div>
      <h5>Product</h5>
      <div class="d-flex">
        {{ range where .Site.Menus.footer "Identifier" "Product-1"}}
          <ul class="col">
            {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
        {{ range where .Site.Menus.footer "Identifier" "Product-2"}}
          <ul class="col">
            {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>

    {{ range where .Site.Menus.footer "Name" "!=" "Product"}}
      <div>
        <h5>{{ .Name }}</h5>
        <ul>
          {{ range .Children }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </section>
  <section class="legal-links">
    <ul class="d-flex align-items-center justify-content-center">
      <li class="copyright-mobile">© Datadog 2017</li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
  </section>
</footer>