.site-footer {
  grid-column: 1/3;
  background: linear-gradient(180deg, #443E48 0%, #110617 100%);
  color: $gray;
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding-block: 48px 32px;
  padding-inline: 24px;

  .cta {
    grid-column: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .copyright {
    align-self: end;
    display: none;
  }

  .main-links {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h5 {
      border-bottom: 1px solid $gray;
    }
  }
  
  .legal-links {
    grid-column: 1 / span all;

    ul {
      gap: 8px;
      font-size: clamp(.75rem, 2vw, 1rem);
    }
    li:not(:last-child):after {
      content: '';
      display: inline-block;
      height: 12px;
      width: 2px;
      margin-left: 12px;
      background-color: $gray;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include media-breakpoint-up(md) {
    .main-links {
      grid-column: 3;
      display: grid;
      grid-template-columns: minmax(240px, 2fr) 1fr 1fr;
    }
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: max-content minmax(0, 212px) minmax(max-content, 1fr) minmax(0, 60px);
    gap: 90px 16px;
    padding-block: 48px 32px;
    padding-inline-start: 166px;

    .copyright {
      display: block;
    }
    .copyright-mobile {
      display: none;
    }
  }
}