.carousel {
  background-color: $gray-light;
  padding: 32px 0 28px 24px;

  .carousel-control-next {
    align-items: flex-start;
    top: 50px;
  }

  img {
    aspect-ratio: 5 / 3;
    object-fit: cover;
    max-height: 320px;
    height: 100%;
    width: 100%;
  }
}