@mixin tint-bg($color, $opacity: .8) {
  box-shadow: inset 0 0 0 100vw rgba($color, $opacity);
}
.postcard {
  min-height: 280px;
  color: $white;

  > div {
    max-width: 556px;
    min-height: 280px;
    color: $white;
    padding-inline: 8px;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-blocK: 8px;
    text-align: center;
  }

  p {
    font-size: .75rem;
    font-weight: 700;
    margin: 0;
  }

  &.theme-blue {
    @include tint-bg($blue, .9);
  }
  &.theme-green {
    @include tint-bg($green);
  }
  &.theme-red {
    @include tint-bg($red);
  }
}